{
	"presets": [
		"env"
	],
	"plugins": [
		"transform-async-to-generator",
		"syntax-async-functions",
		"add-module-exports",
		[
			"transform-runtime",
			{
				"helpers": true,
				"polyfill": false,
				"regenerator": true,
				"moduleName": "babel-runtime"
			}
		],
		"transform-decorators-legacy"
	]
}
